h1 {
    font-family: "Pacifico", cursive;
    color: #f4a88b;
    font-size: 50px;
}
h2,h3,h4,h5,h6 {
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
}
body, html {
  height: 100%;
  background-color: #fff6de;
  text-align: center;
}
.button {
    background-color: #c2c2c2;
    border: none;
    color: white;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }
.button a{
    text-decoration: none;
    color: white;
}